extends layout

block styles
  meta(property="qc:admins" content="23522060656755331205564536112605273510063757")
  link(rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css")
  link(href='stylesheets/index.css' rel='stylesheet')
block content
  div.page-group
    div(class="page page-current")
      header(class="bar bar-nav back-blue")
        h1.title.text-white 哎哟大学
      nav.bar.bar-tab
        a.tab-item.external
          span.icon
            i.iconfont-indexTabBar &#xe601;
          span.tab-label 主页
        a.tab-item.external
          span.icon
            i.iconfont-indexTabBar &#xe600;
          span.tab-label 课表
        a.tab-item.external(href='/self')
          span.icon
            i.iconfont-indexTabBar &#xe602;
          span.tab-label 个人中心

      div.content
        div(class="swiper-container index-swiper-container" data-space-between="10")
          div.swiper-wrapper
            div.swiper-slide
              img(src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1n3rZHFXXXXX9XFXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg")
            div.swiper-slide
              img(src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1n3rZHFXXXXX9XFXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg")
            div.swiper-slide
              img(src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1n3rZHFXXXXX9XFXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg")
          div.swiper-pagination
            span.swiper-pagination-bullet
            span.swiper-pagination-bullet
            span.swiper-pagination-bullet
        div.grid
          div.row#grid-row-01
            div.col-20
              a(href="#")
                div.index-img-wrapper
                  img(src="/images/home_1@2x.png")
                span.icon-text 教务系统
            div.col-20
              a(href="#")
                div.index-img-wrapper
                  img(src="/images/home_2@2x.png")
                span.icon-text 成绩查询
            div.col-20
              a(href="#")
                div.index-img-wrapper
                  img(src="/images/home_3@2x.png")
                span.icon-text 公务保修
            div.col-20
              a.external(href="/lost")
                div.index-img-wrapper
                  img(src="/images/home_4@2x.png")
                span.icon-text 失物招领
            div.col-20
              a.external(href="/secondHand")
                div.index-img-wrapper
                  img(src="/images/home_5@2x.png")
                span.icon-text 二手交易
          div.row#grid-row-02
            div.col-20
              a.external(href="/trade")
                div.index-img-wrapper
                  img(src="/images/home_6@2x.png")
                span.icon-text 校园商圈
            div.col-20
              a.external(href="/fun")
                div.index-img-wrapper
                  img(src="/images/home_2@2x.png")
                span.icon-text 趣玩
            div.col-20
              a.external(href="/play")
                div.index-img-wrapper
                  img(src="/images/home_3@2x.png")
                span.icon-text 去约
            div.col-20
              a(href="/treehole" class="external")
                div.index-img-wrapper
                  img(src="/images/home_4@2x.png")
                span.icon-text 树洞
            div.col-20
              a(href="#")
                div.index-img-wrapper
                  img(src="/images/home_5@2x.png")
                span.icon-text 更多

        div.activity-card
          div.card-content
            img(src="http://s.amazeui.org/media/i/demos/bing-1.jpg")
            div.img-desc
              span 校园情话200期
        div.activity-card
          div.card-content
            img(src="http://s.amazeui.org/media/i/demos/bing-1.jpg")
            div.img-desc
              span 校园情话200期
block scripts
  script(type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8')
  script(src='javascripts/windowUtils.js', type='text/javascript')
  script(src='javascripts/index.js', type='text/javascript')
