extends layout

block styles
  meta(property="qc:admins" content="23522060656755331205564536112605273510063757")
  link(rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css")
  link(href='stylesheets/index.css' rel='stylesheet')
block content
  div.page-group
    div#page-infinite-scroll-bottom(class="page page-current")
      nav.bar.bar-tab
        a.tab-item.external(href='/')
          span.icon
            i.iconfont-indexTabBar &#xe601;
          span.tab-label 主页
        a.tab-item.external
          span.icon
            i.iconfont-indexTabBar &#xe600;
          span.tab-label 课表
        a.tab-item.external(href='/self')
          span.icon
            i.iconfont-indexTabBar &#xe602;
          span.tab-label 切换学校

      div.content
        div(class="swiper-container index-swiper-container" data-space-between="10")
          div.swiper-wrapper
            div.swiper-slide
              img(src="images/slide1.jpg")
            div.swiper-slide
              img(src="images/slide2.png")
            div.swiper-slide
              img(src="images/slide3.png")
          div.swiper-pagination
            span.swiper-pagination-bullet
            span.swiper-pagination-bullet
            span.swiper-pagination-bullet
        div.grid
          div.row#grid-row-01
            div.col-20
              a.more(href="#")
                div.index-img-wrapper
                  img(src="/images/home_1@2x.png")
                span.icon-text 教务系统
            div.col-20
              a.external(href="http://cet.99sushe.com/")
                div.index-img-wrapper
                  img(src="/images/home_2@2x.png")
                span.icon-text 成绩查询
            div.col-20
              a(href="/repair")
                div.index-img-wrapper
                  img(src="/images/home_3@2x.png")
                span.icon-text 公务保修
            div.col-20
              a.external.check(href="/lost")
                div.index-img-wrapper
                  img(src="/images/home_4@2x.png")
                span.icon-text 失物招领
            div.col-20
              a.external.check(href="/secondHand")
                div.index-img-wrapper
                  img(src="/images/home_5@2x.png")
                span.icon-text 二手交易
          div.row#grid-row-02
            div.col-20
              a.external.check(href="/trade")
                div.index-img-wrapper
                  img(src="/images/home_6@2x.png")
                span.icon-text 校园商圈
            div.col-20
              a.external.check(href="/fun")
                div.index-img-wrapper
                  img(src="/images/home_7@2x.png")
                span.icon-text 趣玩
            div.col-20
              a.external.check(href="/play")
                div.index-img-wrapper
                  img(src="/images/home_8@2x.png")
                span.icon-text 去约
            div.col-20
              a.external.check(href="/treehole")
                div.index-img-wrapper
                  img(src="/images/home_9@2x.png")
                span.icon-text 树洞
            div.col-20
              a.more(href="#")
                div.index-img-wrapper
                  img(src="/images/home_10@2x.png")
                span.icon-text 更多
        div.infinite-scroll.infinite-scroll-bottom(data-instance=50)
          div.list-block
            ul.list-container
              
          div.infinite-scroll-preloader
            div.preloader
        //- if prattles
        //-   each item, index in prattles
        //-     div.activity-card.prattle(data-pId= item._id)
        //-       div.card-content
        //-         img(src= item.backImgPath)
        //-         div.img-desc
        //-           span 校园情话#{l -index + 1}期
block scripts
  script(type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8')
  script(type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="101351420" data-redirecturi="http://s-289167.abc188.com/welcome" charset="utf-8")    
  script(src='javascripts/windowUtils.js', type='text/javascript')
  script(src='javascripts/index.js', type='text/javascript')
