extends layout

block styles
  link(href='stylesheets/index.css', rel='stylesheet')
block content
  h1= title
  p Welcome to #{title}
  p 这里是首页

block scripts
  script(src='javascripts/index.js', type='text/javascript')
  
