extends layout

block styles
    link(href="./stylesheets/lostIndex.css" rel='stylesheet')

block content
    .page-group
        .page.page-current
            header.bar.bar-nav
                h1.title
                    .title_tab 失物
                    .title_tab 招领
            .bar.bar-header-secondary
                .searchbar
                    a.searchbar-cancel 取消
                    .search-input
                        label.icon.icon-search(for='search')
                        input#search(type='search', placeholder='输入关键字...')
            nav.bar.bar-tab
                a.tab-item.external(href="/")
                    span.icon.icon-home
                    span.tab-label 主页
                a.tab-item.external(href="/lost/post")
                    span.icon.icon-edit
                    span.tab-label 发布
                a.tab-item.external(href="/lost/self")
                    span.icon.icon-me
                    span.tab-label 个人中心
            .content
                .content-block

block scripts
    script(src="./javascripts/windowUtils.js")
    script(src="./javascripts/lostIndex.js")
    script(type='text/javascript' src='./javascripts/imgViewer.js' charset='utf-8')
