extends layout

block styles
    link(href="./stylesheets/lostIndex.css" rel='stylesheet')

block content
    div.page-group
        div.page.page-current
            header.bar.bar-nav
                h1.title
                    span.active 失物
                    span 招领
            nav.bar.bar-tab
                a.tab-item.active(href="/")
                    span.icon.iconfont-indexTabBar &#xe601
                    span.tab-label 主页
                a.tab-item(href="/lost/post")
                    span.icon.iconfont-treeHoleTabsBar &#xe603
                    span.tab-label 发布
                a.tab-item(href="/lost/self")
                    span.icon.iconfont-treeHoleTabsBar &#xe604
                    span.tab-label 个人中心
            div.content


block scripts
    script(src="./javascripts/windowUtils.js")
    script(src="./javascripts/lostIndex.js")
    script(type='text/javascript' src='./javascripts/imgViewer.js' charset='utf-8')
