extends layout

block styles
    link(href="./stylesheets/lostIndex.css" rel='stylesheet')

block content
    .page-group
        #lost.page.page-current
            header.bar.bar-nav
                h1.title
                    .title_tab.title-active 失物
                    .title_tab 招领
            nav.bar.bar-tab
                a.tab-item.external(href="/")
                    span.icon.icon-home
                    span.tab-label 主页
                a.tab-item.external(href="/lost/post")
                    span.icon.icon-edit
                    span.tab-label 发布
                a.tab-item.external(href="/lost/self")
                    span.icon.icon-me
                    span.tab-label 个人中心
            .content.native-scroll
                p 其他内容区域
                p 其他内容区域
                p 其他内容区域
                p 其他内容区域
                p 其他内容区域
                .buttons-tab.fixed-tab(data-offset='44')
                    a.tab-link.active.button(href='#tab1') 全部
                    a.tab-link.button(href='#tab2') 待付款
                    a.tab-link.button(href='#tab3') 待发货
                .tabs
                    #tab1.tab.active
                        .content-block
                            .buttons-row
                                a.tab-link.active.button(href='#tab1-1') Tab 1
                                a.tab-link.button(href='#tab1-2') Tab 2
                                a.tab-link.button(href='#tab1-3') Tab 3
                            .tabs
                                p#tab1-1.tab.active(style='height:600px') This is tab 1-1 content
                                p#tab1-2.tab This is tab 1-2 content
                                p#tab1-3.tab 13855589778
                    #tab2.tab
                        .content-block
                            p(style='height:600px') This is tab 2 content start
                            p This is tab 2 content end
                    #tab3.tab
                        .content-block
                            p(style='height:600px') This is tab 3 content start
                            p This is tab 3 content end





block scripts
    script(src="./javascripts/windowUtils.js")
    script(src="./javascripts/lostIndex.js")
    script(type='text/javascript' src='./javascripts/imgViewer.js' charset='utf-8')
