extends layout

block styles
    link(href="./stylesheets/lostIndex.css" rel='stylesheet')

block content
    .page-group
        #lost.page.page-current
            header.bar.bar-nav
                h1.title
                    .title_tab.title-active 失物
                    .title_tab 招领
            nav.bar.bar-tab
                a.tab-item.external(href="/")
                    span.icon.icon-home
                    span.tab-label 主页
                a.tab-item.external(href="/lost/post")
                    span.icon.icon-edit
                    span.tab-label 发布
                a.tab-item.external(href="/lost/self")
                    span.icon.icon-me
                    span.tab-label 个人中心
            .content
                .buttons-tab
                    a.tab-link.button.active(href="#tab-index-lost") 首页
                    a.tab-link.button(href="#tab-card-lost") 卡证
                    a.tab-link.button(href="#tab-ele-lost") 数码
                    a.tab-link.button(href="#tab-sport-lost") 运动
                    a.tab-link.button(href="#tab-other-lost") 其它
                .searchbar.row
                    .search-input.col-85
                        input#search(type='search', placeholder='输入关键字...')
                    a.button.button-fill.button-primary.col-15
                        span.icon.icon-search
                .content-block
                    .tabs
                        .tab.active
                            .content-block
                                .page-index
                                    .card
                                        .card-header.color-white.no-border(style='background-image:url(//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250.3.0q60.jpg)', valign='bottom') 旅途的山
                                        .card-content
                                            .card-content-inner
                                                p.color-gray 发表于 2015/01/15
                                                p 此处是内容...
                                        .card-footer
                                            a.link(href='#') 赞
                                            a.link(href='#') 更多
                                    .card
                                        .card-header.color-white.no-border(style='background-image:url(//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250.3.0q60.jpg)', valign='bottom') 旅途的山
                                        .card-content
                                            .card-content-inner
                                                p.color-gray 发表于 2015/01/15
                                                p 此处是内容...
                                        .card-footer
                                            a.link(href='#') 赞
                                            a.link(href='#') 更多
                                    .card
                                        .card-header.color-white.no-border(style='background-image:url(//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250.3.0q60.jpg)', valign='bottom') 旅途的山
                                        .card-content
                                            .card-content-inner
                                                p.color-gray 发表于 2015/01/15
                                                p 此处是内容...
                                        .card-footer
                                            a.link(href='#') 赞
                                            a.link(href='#') 更多
                                    .card
                                        .card-header.color-white.no-border(style='background-image:url(//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250.3.0q60.jpg)', valign='bottom') 旅途的山
                                        .card-content
                                            .card-content-inner
                                                p.color-gray 发表于 2015/01/15
                                                p 此处是内容...
                                        .card-footer
                                            a.link(href='#') 赞
                                            a.link(href='#') 更多
                                    |   ... 可以多放几张卡片




block scripts
    script(src="./javascripts/windowUtils.js")
    script(src="./javascripts/lostIndex.js")
    script(type='text/javascript' src='./javascripts/imgViewer.js' charset='utf-8')
