extends servicelayout

block styles
  link(href="../stylesheets/playPost.css" rel="stylesheet")
    
block content
  div.page-group
    div.page.page-current
      header.bar.bar-nav.back-blue
        a.button.button-link.button-nav.treehole-back.pull-left.external(href="/play")
          span.icon.icon-left.text-white
        a.button.button-link.button-nav.pull-right.external.text-white.finishPost 完成
        h1.title.text-white 发布
      div.content
        div.post-valueble
          div.type
            h3 类型
            div
              input#checkbox_w(type="checkbox" name="want")
              label(for="checkbox_w")
              span 我可以
            div
              input#checkbox_c(type="checkbox" name="can")
              label(for="checkbox_c")
              span 我需要
          div.name
            h3 标题
            input.border-bottom(type="text" name="name" placeholder="侃侃你需要什么/提供什么(25字)")
            div#previewAllPic
            span.icon
              input#fileToUpload(type="file" name="fileToUpload")
              i.iconfont-treeholePost &#xe605;
          div.desc
            h3 简介
            textarea(placeholder="让时间，技能，只是产权交换，变现吧(140字)")
          div.address
            h3 地点
            input.border-bottom(placeholder="填个地点才好约~")
          div.price
            h3 价格
            input.border-bottom(placeholder="就是如此赤裸裸～免费写0")
          div.qq
            h3 qq号
            input.border-bottom(placeholder="一切成就约")
          div.tel
            h3 电话号
            input.border-bottom(placeholder="一切造就约")
          
            
                        
              
              
block scripts
  script(src="../javascripts/windowUtils.js")
  script(src="../javascripts/autosize.min.js")    
  script(src="../javascripts/playPost.js")
