extends detaillayout

block styles
  link(href="../../stylesheets/secondHandPost.css" rel="stylesheet")
    
block content
  div.page-group
    div.page.page-current
      header.bar.bar-nav.back-blue
        a.button.button-link.button-nav.treehole-back.pull-left.external(href="/secondHand")
          span.icon.icon-left.text-white
        a.button.button-link.button-nav.pull-right.external.text-white.finishPost 完成
        h1.title.text-white 发布树洞
      div.content
        div.post-valueble(data-vId= vId)
          div.name
            h3 商品名称
            input.border-bottom(type="text" name="name" placeholder="请填写商品名称")
            div#previewAllPic
            span.icon
              input#fileToUpload(type="file" name="fileToUpload")
              i.iconfont-treeholePost &#xe605;
          div.desc
            h3 商品描述
            input.border-bottom(placeholder="请填写商品用途 新旧程度")
          div.price
            h3 商品价格
            input.border-bottom(placeholder="单位元")
          div.location
            h3 交易地点
            input.border-bottom(placeholder="请填写交易地点p")
          div.category
            h3 选择分类
            div.row
              div.col-3
                input#checkbox01(type="checkbox" name="transport")
                label(for="checkbox01")
                span 交通工具
              div.col-3           
                input#checkbox02(type="checkbox" name="sport")
                label(for="checkbox02")
                span 运动健身
              div.col-3               
                input#checkbox03(type="checkbox" name="ele")
                label(for="checkbox03")
                span 电子产品
              div.col-left              
                input#checkbox04(type="checkbox" name="ins")
                label(for="checkbox04")
                span 电器
              div.col-3                
                input#checkbox05(type="checkbox" name="beauty")
                label(for="checkbox05")
                span 丽人美妆
              div.col-3                                
                input#checkbox06(type="checkbox" name="cloth")
                label(for="checkbox06")
                span 衣物伞帽
              div.col-3                                
                input#checkbox07(type="checkbox" name="book")
                label(for="checkbox07")
                span 图书器材
              div                                
                input#checkbox08(type="checkbox" name="other")
                label(for="checkbox08")
                span 其他
          div.qq
            h3 qq号
            input.border-bottom(placeholder="请填写qq号")
          div.tel
            h3 电话号
            input.border-bottom(placeholder="请填写手机号")
          
            
                        
              
              
block scripts
  script(src="../../javascripts/windowUtils.js")
  script(src="../../javascripts/secondHandEdit.js")
