extends servicelayout

block styles
  //- link(href="../stylesheets/selectPost.css" rel="stylesheet")
    
block content
  div.page-group
    div.page.page-current#select-type
      a.button.button-fill(href="/trade/post-seller")
      a.button.button-fill(href="/trade/post-singleton")        
            
                        
              
              
block scripts
