extends layout

block styles
  meta(property="qc:admins" content="23522060656755331205564536112605273510063757")
  link(href='stylesheets/self.css' rel='stylesheet')
block content
  div.page-group
    div.page.page-current.editInfo
      header(class="bar bar-nav back-blue")
        a.button.button-link.button-nav.treehole-back.pull-left.external(href="/")
          span.icon.icon-left.text-white
        a.button.button-link.button-nav.pull-right.external.text-white.finishPost 完成
        h1.title.text-white 个人信息
      
      div.content
        div.user-info
          //- div.name
          //-   h3 姓名
          //-   input.border-bottom(placeholder="填写姓名")
          //- div.gender
          //-   h3 性别
          //-   input.border-bottom(placeholder="填写性别")
          div.tel
            //- - var tel  = userInfo.tel
            h3 电话
            input.border-bottom(placeholder="填写电话" value="#{userInfo.tel}")
          div.qq
            //- - var qq = userInfo.qq
            h3 qq
            input.border-bottom(placeholder="填写qq" )
          div.school
            //- - var school = userInfo.school
            h3 学校
            a(href="#selectSchool")
              input.border-bottom(placeholder="填写学校" )
          div.department
            //- - var department = userInfo.department
            h3 宿舍地址
            input.border-bottom(placeholder="填写宿舍地址" )
    
    div.page#selectSchool
      header.bar.bar-nav.back-blue
        a.button.button-link.button-nav.pull-left.external.backEdit(href="#editInfo")
          span.icon.icon-left.text-white
        h1.title.text-white  树洞
      
      div.bar.bar-header-secondary.schoolSearchBar
        div.searchbar
          a.searchbar-cancel 取消
          div.search-input
            label.icon.icon-search(for="search")
            input#search(type="search", placeholder="搜索学校名称")     
      div.content-block#schoolListContainer
        div.welcome-hint 欢迎来到哎哟大学，哎哟大学正在努力涵盖所有大学，若现在没有您的大学，请给我们一些时间
        
                  
              

            
            
block scripts
  script(src='javascripts/windowUtils.js', type='text/javascript')
  script(src='javascripts/self.js', type='text/javascript')
