doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0,  user-scalable=no")
    link(rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.css")
    link(rel="stylesheet" href="../stylesheets/normalize.css")
    block styles
  body
    block content

  script(type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.js' charset='utf-8')
  script(type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.js' charset='utf-8')
  script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js")
  block scripts
