extends servicelayout

block styles
  link(rel="stylesheet" href="../stylesheets/playSelf.css")

block content
  div.page-group
    div.page.page-current#signup
      header.bar.bar-nav.back-blue
        a.button.button-link.button-nav.treehole-back.pull-left.external(href="/play")
          span.icon.icon-left.text-white
        a.button.button-link.button-nav.treehole-back.pull-right.external
          span.icon.text-white
            i.iconfont-selfShare &#xe610;
        h1.title.text-white 个人中心
      if user
        div.self
          div
            img(src= user.avatarUrl)
            div.self-info
              div.facebook-name= user.name
              div.facebook-sign-name 个性签名:
              a 编辑资料>

        div.content.valueble-content
          div.buttons-tab
            a.tab-link.button.active.play(href="#tab-collect") 我的收藏
          div.content-block
            div.tabs
              div#tab-collect.tab.active
                div.content-block
                  if sellers
                    each item in sellers
                      div.item-block
                        div.img-wrapper
                          img(src= item.picUrl[0])
                        div.item-content
                          div.item-header
                            a.item-name= item.name
                          div.item-desc= item.desc
                          div.item-footer
                            div.actionSheet
                              a.cancel(data-sId= item._id) 取消收藏
      else
        div.content
          div.content-block
            div.hint
              div.message 你还没有登陆
              div.actionRow
                div.signup
                  a.button-link.button.button-fill.button-success.external(href="/signin")  去注册

block scripts
  script(src="../javascripts/windowUtils.js")
  script(src="../javascripts/playSelf.js")
