extends layout

block styles
  link(href="./stylesheets/tradeIndex.css" rel='stylesheet')

block content
  div.page-group
    div.page.page-current
      //- header.bar.bar-nav.back-blue
      //-   a.button.button-link.button-nav.tradeIndex-back.pull-left.external(href="/")
      //-     span.icon.icon-left
      //-   a.button.button-link.button-nav.tradeIndex-back.pull-right.external
      //-     span.icon.text-white
      //-       i.iconfont-selfShare &#xe610;
      //-   h1.title.text-white 商圈
      nav.bar.bar-tab
        a.tab-item.external(href="/trade")
          span.icon.index-color
            i.iconfont-indexTabBar &#xe601;
          span.tab-label 主页
        a.tab-item.external(href="/trade/post")
          span.icon
            i.iconfont-treeHoleTabsBar &#xe603;
          span.tab-label 发布
        a.tab-item.external(href="/trade/self")
          span.icon
            i.iconfont-treeHoleTabsBar &#xe604;
          span.tab-label 个人中心
      div.bar.bar-header-secondary.tradeIndex-searchbar
        div.searchbar
          a.searchbar-cancel 取消
          div.search-input
            label.icon.icon-search(for="search")
            input#search(type="search", placeholder="搜索感兴趣的话题")  
                       
      div.content.tradeIndex-content
        div.buttons-tab
          a.tab-link.button(href="#category-modal") 
            span 分类&nbsp;
            sapn.icon
              i.iconfont-dropDown &#xe626; 
          span.halving-line
          a.tab-link.button(href="#tab-distance") 
            span 距离&nbsp;
            sapn.icon
              i.iconfont-dropDown &#xe626; 
          span.halving-line
          a.tab-link.button(href="#tab-popular") 
            span 热度&nbsp;
            sapn.icon
              i.iconfont-dropDown &#xe626; 
        div.content-block
          div.tabs
            div#tab-category.tab.active
              div.content-block
                if sellers
                  each item in sellers
                    div.item-block(data-sId= item._id)
                      div.img-wrapper
                        img(src= item.picUrl[0])
                      div.item-content
                        div.item-header
                          a.item-name= item.name
                        div.item-desc= item.desc
                        div.item-footer
                          span.icon
                            i.iconfont-position &#xe619; 
                          span.address= item.address
                          div.actionSheet
                            //- span.distance=
block scripts
  script(src="./javascripts/tradeIndex.js")
