extends treeholelayout

block styles
  link(rel="stylesheet",  href="../stylesheets/treeholePost.css")
block content
  div.page-group
    div.page.page-current
      header.bar.bar-nav.back-blue
        a.button.button-link.button-nav.treehole-back.pull-left(href="/treehole", data-transition='slide-out')
          span.icon.icon-left.text-white
        a.button.button-link.button-nav.pull-right(href="/treehole") 完成
        h1.title.text-white 发布树洞
      div.content
        div.post-treehole
          h3.content-title  发布内容
          div.treehole-content
            textarea
            span.icon
              i.iconfont-treeholePost &#xe605;
          div.if-anonymous
            input#anonymous(type="checkbox")
            label(for="anonymous")
            span 匿名购买
block scripts
  script(src="../javascripts/autosize.min.js")
  script(src="../javascripts/treeholePost.js")
