extends treeholelayout

block styles
  link(rel="stylesheet" href="../stylesheets/treeholeSelf.css")

block content
  div.page-group
    div.page.page-current#signup
      header.bar.bar-nav.back-blue
        a.button.button-link.button-nav.treehole-back.pull-left.external(href="/treehole")
          span.icon.icon-left.text-white
        h1.title.text-white 个人中心
      if user
        div.content
          div.content-block
            img(src=user.avatarUrl)
            span #{user.name}
            span #{user.gender}
      else
        div.content
          div.content-block
            div.hint
              div.message 你还没有登陆
              div.actionRow
                div.signup
                  a.button-link.button.button-fill.button-success.external(href="/signin")  去注册

block scripts
  
