extends layout

block styles
  link(rel="stylesheet" href="./stylesheets/welcome.css")

block content
  div.page-group
    div.page.page-current#signup
      header.bar.bar-nav.back-blue
        h1.title.text-white 登陆成功
      div.content
        div.content-block
          div.hint
            div.message 登陆成功!快去个人中心完善更多信息吧
            div.actionRow
              div
                a.button-link.button.button-fill.button-success.external(href="/signin")  去完善

block scripts
  script(type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="101345948" data-redirecturi="http://young-escarpment-36912.herokuapp.com/welcome" charset="utf-8")
  script(type="text/javascript" src="./javascripts/welcome.js")
