.page,
.page-group {
  background-color: #fff;
}
.message {
  text-align: center;
  height: 3rem;
  line-height: 3rem;
  border-radius: 1rem;
  width: 100%;
  border: 1px solid rgba(240, 168, 24, 0.8);
  color: #f0a818;
  font-size: .8rem;
  background-color: transparent;
  margin-bottom: 1rem;
}
.actionRow {
  display: flex;
  justify-content: center;
}
.actionRow div.signup {
  font-size: .7rem;
  width: 4rem;
}
.self {
  margin-top: 2.2rem;
  height: 5.5rem;
  background-image: url('../images/self-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.self img {
  margin: 1.2rem .3rem;
  height: 2.9rem;
  float: left;
  border-radius: 50%;
}
.self .self-info {
  margin-left: 3.8rem;
  padding-top: 1.0rem;
}
.self .self-info .facebook-name {
  font-size: .9rem;
}
.self .self-info .facebook-sign-name,
.self .self-info a {
  font-size: .6rem;
}
.self .self-info .facebook-name,
.self .self-info .facebook-sign-name {
  margin-left: 0px;
  color: #fff;
}
.self .self-info a {
  color: #88C32E;
}
.lostIndex-content > .buttons-tab > .button {
  background-color: #fff;
}
.lostIndex-content .buttons-tab .button.active {
  color: #88C32E;
  border-color: #88C32E;
}
.topic-tag {
  width: 100%;
}
.topic-tag .tag-left,
.topic-tag .tag-right,
.topic-tag .tag-middle {
  width: 33.33%;
  float: left;
  height: 2.3rem;
}
.topic-tag .tag-left,
.topic-tag .tag-right {
  border-bottom: 1px solid #e0e0e0;
}
.topic-tag .tag-middle {
  border-bottom: 1px solid #88C32E;
}
.topic-tag .tag-middle > h5 {
  color: #88C32E;
  text-align: center;
}
.topic-block {
  width: 100%;
}
.topic-block .my-topic {
  width: 96%;
  margin: 0.5rem 2%;
  border: 1px solid #e7e7e7;
}
.topic-block .my-topic img {
  width: 4rem;
  height: 4rem;
  margin: 0.4rem;
  float: left;
}
.topic-block .my-topic .topic-content {
  height: 4rem;
  margin: 0.4rem 0.4rem 0.4rem 0px;
}
.topic-block .my-topic .topic-content .content-title {
  font-size: .8rem;
  color: #444;
}
.topic-block .my-topic .topic-content .category {
  position: absolute;
  right: 4rem;
  padding: 0px .05rem;
  color: #fff;
  font-size: .5rem;
  background-color: #88C32E;
  margin-top: .3rem;
}
.topic-block .my-topic .topic-content .content-text {
  font-size: .6rem;
  color: #999;
  margin: .2rem 0rem;
}
.topic-block .my-topic .topic-content .tour,
.topic-block .my-topic .topic-content .found {
  font-size: .5rem;
  position: absolute;
  color: #88C32E;
}
.topic-block .my-topic .topic-content .tour {
  right: 4rem;
}
.topic-block .my-topic .topic-content .found {
  right: .8rem;
}
@font-face {
  font-family: 'iconfont-selfShare';
  src: url('iconfont.eot');
  /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iconfont-selfShare.woff') format('woff'), /* chrome、firefox */ url('../fonts/iconfont-selfShare.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../fonts/iconfont-selfShare.svg#iconfont-selfShare') format('svg');
  /* iOS 4.1- */
}
.iconfont-selfShare {
  font-family: "iconfont-selfShare" !important;
  font-size: 1rem;
  font-style: normal;
  margin-right: 0.3rem;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
