.facebook-avatar img{
    border-radius: 50%;
}
.author_name{
    font-size: .9rem;
    color: #2e804e;
}
.publish_time,.author_locale,.view_times,.lost_site{
    font-size: .55rem;
}
.view_times{
    float: right;
}
