body {
  color: #666;
}
.bar .playIndex-back {
  color: #fff;
}
.index-color {
  color: #F97C06;
}
.playIndex-searchbar {
  background-color: #fff;
}
.playIndex-searchbar .searchbar {
  background-color: #fff;
}
.playIndex-searchbar .searchbar input#search,
.playIndex-searchbar .searchbar input#search-action {
  background-color: #f5f5f5;
  border-radius: .5rem;
}
.content-block {
  margin: 0px;
  padding: 0px;
}
.tabs-content {
  position: fixed;
  width: 100%;
  top: 2.2rem;
}
.tabs-content .shop-tab,
.tabs-content .school-tab {
  background-color: #fff;
  width: 50%;
  height: 2.5rem;
  padding: .6rem 0px;
  float: left;
  text-align: center;
}
.tabs-content .shop-tab .iconfont-shop,
.tabs-content .school-tab .iconfont-shop,
.tabs-content .shop-tab .iconfont-tree,
.tabs-content .school-tab .iconfont-tree {
  color: #F97C06;
}
.play-content .buttons-tab .button.active {
  color: #F97C06;
  border-color: #F97C06;
}
.bar-header-secondary ~ .content {
  top: 0rem;
}
.facebook-card {
  cursor: pointer;
  margin: .4rem 0px;
}
.facebook-card .facebook-avatar img {
  height: 2rem;
}
.facebook-card .facebook-avatar img {
  border-radius: 50%;
}
.facebook-card .card-content {
  padding: 0 .5rem .5rem .5rem;
}
.facebook-card .card-content .picsWrapper {
  width: auto;
}
.facebook-card .card-content .picsWrapper img {
  display: inline-block;
  margin-right: .2rem;
  width: 5rem;
  max-height: 5rem;
}
.facebook-card .card-info {
  margin-left: 2.5rem;
}
.facebook-card .card-info .facebook-name,
.facebook-card .card-info .facebook-date {
  margin-left: 0px;
  color: #444;
}
.facebook-card .card-info .facebook-name span.right,
.facebook-card .card-info .facebook-date span.right {
  float: right;
  color: #F97C06;
}
.facebook-card .card-info .facebook-date span {
  margin-right: .2rem;
}
.facebook-card .card-info .facebook-name {
  font-size: .8rem;
}
.facebook-card .card-content-title {
  font-weight: normal;
  color: #444;
}
.facebook-card .card-content-title,
.facebook-card .card-content-text {
  margin: .3rem 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@font-face {
  font-family: 'iconfont-treeHoleTabsBar';
  src: url('iconfont.eot');
  /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iconfont-treeHoleTabsBar.woff') format('woff'), /* chrome、firefox */ url('../fonts/iconfont-treeHoleTabsBar.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../fonts/iconfont-treeHoleTabsBar.svg#iconfont-treeHoleTabsBar') format('svg');
  /* iOS 4.1- */
}
.iconfont-treeHoleTabsBar {
  font-family: "iconfont-treeHoleTabsBar" !important;
  font-size: 1.2rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'iconfont-indexTabBar';
  src: url('iconfont.eot');
  /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iconfont-indexTabBar.woff') format('woff'), /* chrome、firefox */ url('../fonts/iconfont-indexTabBar.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../fonts/iconfont-indexTabBar.svg#iconfont-indexTabBar') format('svg');
  /* iOS 4.1- */
}
.iconfont-indexTabBar {
  font-family: "iconfont-indexTabBar" !important;
  font-size: 1.3rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'iconfont-selfShare';
  src: url('iconfont.eot');
  /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iconfont-selfShare.woff') format('woff'), /* chrome、firefox */ url('../fonts/iconfont-selfShare.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../fonts/iconfont-selfShare.svg#iconfont-selfShare') format('svg');
  /* iOS 4.1- */
}
.iconfont-selfShare {
  font-family: "iconfont-selfShare" !important;
  font-size: 1rem;
  font-style: normal;
  margin-right: 0.3rem;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'iconfont-tree';
  src: url('iconfont.eot');
  /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iconfont-tree.woff') format('woff'), /* chrome、firefox */ url('../fonts/iconfont-tree.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../fonts/iconfont-tree.svg#iconfont-tree') format('svg');
  /* iOS 4.1- */
}
.iconfont-tree {
  font-family: "iconfont-tree" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'iconfont-shop';
  src: url('iconfont.eot');
  /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iconfont-shop.woff') format('woff'), /* chrome、firefox */ url('../fonts/iconfont-shop.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../fonts/iconfont-shop.svg#iconfont-shop') format('svg');
  /* iOS 4.1- */
}
.iconfont-shop {
  font-family: "iconfont-shop" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
