.buttons-tab .button.active {
  color: #F97C06;
  border-color: #F97C06;
}
.page,
.page-group {
  background-color: #fff;
}
.message {
  text-align: center;
  height: 3rem;
  line-height: 3rem;
  border-radius: 1rem;
  width: 100%;
  border: 1px solid rgba(240, 168, 24, 0.8);
  color: #f0a818;
  font-size: .8rem;
  background-color: transparent;
  margin-bottom: 1rem;
}
.actionRow {
  display: flex;
  justify-content: center;
}
.actionRow div.signup {
  font-size: .7rem;
  width: 4rem;
}
.self {
  height: 5.5rem;
  background-image: url('../images/self-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.self img {
  margin: 1.2rem .3rem;
  height: 2.9rem;
  float: left;
  border-radius: 50%;
}
.self .self-info {
  margin-left: 3.8rem;
  padding-top: 1.0rem;
}
.self .self-info .facebook-name {
  font-size: .9rem;
}
.self .self-info .facebook-sign-name,
.self .self-info a {
  font-size: .6rem;
}
.self .self-info .facebook-name,
.self .self-info .facebook-sign-name {
  margin-left: 0px;
  color: #fff;
}
.self .self-info a {
  color: #F57E7A;
}
.buttons-tab .play {
  width: 30%;
  margin: 0 auto;
}
.content-block {
  margin: 0rem;
  padding: 0rem;
}
#play-content {
  position: absolute;
  overflow: auto;
  margin: .5rem 0rem 0rem 0rem;
  padding: 0rem;
}
#play-content .content-block {
  border: 1px solid #dedede;
}
#tab-selling,
#tab-down,
#tab-sold {
  border: 1px solid #dedede;
  margin: 0.4rem;
}
.item-block {
  width: 100%;
  padding: .4rem;
}
.item-block .img-wrapper {
  text-align: center;
  position: relative;
  float: left;
}
.item-block .img-wrapper .no-img {
  color: #666;
  font-size: .7rem;
  position: absolute;
  display: none;
  top: 50%;
  width: 100%;
  transform: translateY(-60%);
}
.item-block .img-wrapper img {
  height: 4rem;
  width: 4rem;
}
.item-block .item-content {
  margin-left: 4.3rem;
}
.item-block .item-content .item-header .item-name {
  font-size: .7rem;
  color: #444;
}
.item-block .item-content .item-header .item-price {
  float: right;
  margin-right: .3rem;
  color: #F97C06;
}
.item-block .item-content .item-header .item-category {
  background-color: #F97C06;
  color: white;
  font-size: .6rem;
  margin-left: .4rem;
}
.item-block .item-content .item-desc {
  font-size: .6rem;
  height: 2.6rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 1.２rem;
}
.item-block .item-content .item-footer {
  position: relative;
  font-size: .6rem;
}
.item-block .item-content .item-footer .actionSheet {
  position: absolute;
  right: .5rem;
  bottom: -0.2rem;
}
.item-block .item-content .item-footer .actionSheet a {
  margin: .3rem;
  color: #F97C06;
}
@font-face {
  font-family: 'iconfont-selfShare';
  src: url('iconfont.eot');
  /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iconfont-selfShare.woff') format('woff'), /* chrome、firefox */ url('../fonts/iconfont-selfShare.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../fonts/iconfont-selfShare.svg#iconfont-selfShare') format('svg');
  /* iOS 4.1- */
}
.iconfont-selfShare {
  font-family: "iconfont-selfShare" !important;
  font-size: 1rem;
  font-style: normal;
  margin-right: 0.3rem;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'iconfont-selfComment';
  src: url('iconfont.eot');
  /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iconfont-selfComment.woff') format('woff'), /* chrome、firefox */ url('../fonts/iconfont-selfComment.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../fonts/iconfont-selfComment.svg#iconfont-selfComment') format('svg');
  /* iOS 4.1- */
}
.iconfont-selfComment {
  font-family: "iconfont-selfComment" !important;
  font-size: .7rem;
  font-style: normal;
  color: #F57E7A;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'iconfont-selfEnjoy';
  src: url('iconfont.eot');
  /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iconfont-selfEnjoy.woff') format('woff'), /* chrome、firefox */ url('../fonts/iconfont-selfEnjoy.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../fonts/iconfont-selfEnjoy.svg#iconfont-selfEnjoy') format('svg');
  /* iOS 4.1- */
}
.iconfont-selfEnjoy {
  font-family: "iconfont-selfEnjoy" !important;
  font-size: .7rem;
  font-style: normal;
  color: #F57E7A;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
