body {
  color: #666;
}
.bar .playIndex-back {
  color: #fff;
}
.index-color {
  color: #F97C06;
}
.playIndex-searchbar {
  background-color: #fff;
}
.playIndex-searchbar .searchbar {
  background-color: #fff;
}
.playIndex-searchbar .searchbar input#search,
.playIndex-searchbar .searchbar input#search-action {
  background-color: #f5f5f5;
  border-radius: .5rem;
}
.tabs-content {
  position: fixed;
  width: 100%;
  top: 4.4rem;
}
.tabs-content .shop-tab,
.tabs-content .school-tab {
  background-color: #fff;
  width: 50%;
  height: 2.5rem;
  padding: .6rem 0px;
  float: left;
  text-align: center;
}
.tabs-content .shop-tab .iconfont-shop,
.tabs-content .school-tab .iconfont-shop,
.tabs-content .shop-tab .iconfont-tree,
.tabs-content .school-tab .iconfont-tree {
  color: #F97C06;
}
.tabs-content .shop-tab {
  border-right: 1px solid #f5f5f5;
}
.playIndex-content {
  margin-top: 2.5rem;
}
.activity-card {
  margin-top: 0.5rem;
  line-height: .7;
}
.activity-card .card-content {
  position: relative;
}
.activity-card .card-content img {
  width: 100%;
}
.activity-card .card-content .img-desc {
  height: 2rem;
  width: 100%;
  z-index: 100;
  background-color: rgba(29, 29, 29, 0.5);
  ilter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  padding: 0.8rem 0 0 1.0rem;
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.activity-card .card-content .img-desc span {
  z-index: 110;
  color: #fff;
}
.activity-card .card-content .img-desc .price {
  position: absolute;
  right: .5rem;
  color: #F97C06;
}
.activity-card .card-footer {
  width: 100%;
  padding-left: 1rem;
  font-size: .8rem;
  background-color: #fff;
}
@font-face {
  font-family: 'iconfont-treeHoleTabsBar';
  src: url('iconfont.eot');
  /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iconfont-treeHoleTabsBar.woff') format('woff'), /* chrome、firefox */ url('../fonts/iconfont-treeHoleTabsBar.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../fonts/iconfont-treeHoleTabsBar.svg#iconfont-treeHoleTabsBar') format('svg');
  /* iOS 4.1- */
}
.iconfont-treeHoleTabsBar {
  font-family: "iconfont-treeHoleTabsBar" !important;
  font-size: 1.2rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'iconfont-indexTabBar';
  src: url('iconfont.eot');
  /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iconfont-indexTabBar.woff') format('woff'), /* chrome、firefox */ url('../fonts/iconfont-indexTabBar.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../fonts/iconfont-indexTabBar.svg#iconfont-indexTabBar') format('svg');
  /* iOS 4.1- */
}
.iconfont-indexTabBar {
  font-family: "iconfont-indexTabBar" !important;
  font-size: 1.3rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'iconfont-selfShare';
  src: url('iconfont.eot');
  /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iconfont-selfShare.woff') format('woff'), /* chrome、firefox */ url('../fonts/iconfont-selfShare.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../fonts/iconfont-selfShare.svg#iconfont-selfShare') format('svg');
  /* iOS 4.1- */
}
.iconfont-selfShare {
  font-family: "iconfont-selfShare" !important;
  font-size: 1rem;
  font-style: normal;
  margin-right: 0.3rem;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'iconfont-tree';
  src: url('iconfont.eot');
  /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iconfont-tree.woff') format('woff'), /* chrome、firefox */ url('../fonts/iconfont-tree.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../fonts/iconfont-tree.svg#iconfont-tree') format('svg');
  /* iOS 4.1- */
}
.iconfont-tree {
  font-family: "iconfont-tree" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'iconfont-shop';
  src: url('iconfont.eot');
  /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iconfont-shop.woff') format('woff'), /* chrome、firefox */ url('../fonts/iconfont-shop.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../fonts/iconfont-shop.svg#iconfont-shop') format('svg');
  /* iOS 4.1- */
}
.iconfont-shop {
  font-family: "iconfont-shop" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
