.index-swiper-container {
  padding-bottom: .5rem;
}
.index-swiper-container .swiper-pagination {
  bottom: .5rem;
}
.swiper-slide img {
  width: 100%;
}
.index-img-wrapper img {
  width: 2.5rem;
  text-align: center;
}
div.desc {
  width: 1000%;
  background-color: #fff;
  color: #444;
  font-size: .8rem;
}
.facebook-card {
  margin: .5rem 0px 0px 0px;
}
.facebook-card .facebook-avatar img {
  height: 2rem;
}
.facebook-card .facebook-avatar img {
  border-radius: 50%;
}
.facebook-card .card-content {
  padding: .5rem .5rem 0px .5rem;
}
.facebook-card .card-content .picsWrapper img {
  display: inline-block;
  margin-right: .2rem;
}
.facebook-card .card-info {
  margin-left: 2.5rem;
}
.facebook-card .card-info .facebook-name,
.facebook-card .card-info .facebook-date {
  margin-left: 0px;
}
.facebook-card .card-info .facebook-date span {
  font-size: .55rem;
}
.facebook-card .card-info .facebook-name {
  color: #444;
  font-size: .9rem;
}
.facebook-card .card-info .page-view {
  float: right;
  font-size: .55rem;
  margin: .25rem 0;
}
.facebook-card .card-content-text {
  font-size: .55rem;
  margin-top: .2rem;
}
.title-category {
  min-height: 1.3rem;
}
.content-title {
  font-size: .75rem;
  float: left;
  margin: .14rem 0;
}
.category {
  float: left;
  font-size: .5rem;
  margin: .3rem .3rem;
  background-color: #F97C06;
  color: #fff;
  padding: 0px .1rem;
}
.facebook-card > .card-footer {
  background-color: #fff;
}
.card-footer:before {
  background-color: #fff;
}
.card-footer {
  padding: 0px;
}
.position,
.price {
  position: absolute;
}
.position {
  left: .4rem;
  font-size: .5rem;
  bottom: .3rem;
}
.position span {
  display: inline-block;
}
.iconfont-position {
  color: #F97C06;
}
.price {
  right: .5rem;
  top: .55rem;
  font-size: .9rem;
  color: #F57E7A;
}
.connection-content {
  padding: .2rem .5rem;
}
.connection-icon {
  color: #F97C06;
}
.number {
  margin-left: .2rem;
}
.connection-action {
  margin-left: .6rem;
  font-size: .5rem;
  color: #F97C06;
}
@font-face {
  font-family: 'iconfont-selfShare';
  src: url('iconfont.eot');
  /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iconfont-selfShare.woff') format('woff'), /* chrome、firefox */ url('../fonts/iconfont-selfShare.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../fonts/iconfont-selfShare.svg#iconfont-selfShare') format('svg');
  /* iOS 4.1- */
}
.iconfont-selfShare {
  font-family: "iconfont-selfShare" !important;
  font-size: 1rem;
  font-style: normal;
  margin-right: 0.3rem;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'iconfont-position';
  src: url('iconfont.eot');
  /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iconfont-position.woff') format('woff'), /* chrome、firefox */ url('../fonts/iconfont-position.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../fonts/iconfont-position.svg#iconfont-position') format('svg');
  /* iOS 4.1- */
}
.iconfont-position {
  font-family: "iconfont-position" !important;
  font-size: .75rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'iconfont-phone';
  src: url('iconfont.eot');
  /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iconfont-phone.woff') format('woff'), /* chrome、firefox */ url('../fonts/iconfont-phone.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../fonts/iconfont-phone.svg#iconfont-phone') format('svg');
  /* iOS 4.1- */
}
.iconfont-phone {
  font-family: "iconfont-phone" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'iconfont-qq';
  src: url('iconfont.eot');
  /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iconfont-qq.woff') format('woff'), /* chrome、firefox */ url('../fonts/iconfont-qq.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../fonts/iconfont-qq.svg#iconfont-qq') format('svg');
  /* iOS 4.1- */
}
.iconfont-qq {
  font-family: "iconfont-qq" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'iconfont-playDetail';
  src: url('iconfont.eot');
  /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iconfont-playDetail.woff') format('woff'), /* chrome、firefox */ url('../fonts/iconfont-playDetail.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../fonts/iconfont-playDetail.svg#iconfont-playDetail') format('svg');
  /* iOS 4.1- */
}
.iconfont-playDetail {
  font-family: "iconfont-playDetail" !important;
  font-size: .8rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
