.bar .secondHand-back {
  color: #fff;
}
.secondHand-content > .buttons-tab > .button {
  background-color: #fff;
}
.secondHand-content > .content-block {
  margin: 0;
  padding: 0px;
}
.secondHand-content > .content-block .tabs .content-block {
  margin: 0rem;
  padding: 0px;
}
.secondHand-searchbar {
  background-color: #fff;
}
.secondHand-searchbar .searchbar {
  background-color: #fff;
}
.secondHand-searchbar .searchbar input#search {
  background-color: #f5f5f5;
  border-radius: .5rem;
}
.facebook-card {
  margin: .5rem 0px 0px 0px;
}
.facebook-card .facebook-avatar img {
  height: 2rem;
}
.facebook-card .facebook-avatar img {
  border-radius: 50%;
}
.facebook-card .card-content {
  padding: 0 .5rem;
}
.facebook-card .card-content .picsWrapper img {
  display: inline-block;
  margin-right: .2rem;
}
.facebook-card .card-info {
  margin-left: 2.5rem;
}
.facebook-card .card-info .facebook-name,
.facebook-card .card-info .facebook-date {
  margin-left: 0px;
}
.facebook-card .card-info .facebook-date span {
  font-size: .55rem;
}
.facebook-card .card-info .facebook-name {
  color: #444;
  font-size: .9rem;
}
.facebook-card .card-info .page-view {
  float: right;
  font-size: .55rem;
  margin: .25rem 0;
}
.facebook-card .card-content-text {
  font-size: .55rem;
  margin-top: .2rem;
}
.title-category {
  min-height: 1.3rem;
}
.content-title {
  font-size: .75rem;
  float: left;
  margin: .14rem 0;
}
.category {
  float: left;
  font-size: .5rem;
  margin: .2rem .3rem;
  background-color: #13B7F5;
  color: #fff;
  padding: 0px .1rem;
}
.facebook-card > .card-footer {
  background-color: #fff;
}
.card-footer:before {
  background-color: #fff;
}
.card-footer {
  padding: 0px;
  min-height: 2rem;
}
.position,
.price {
  position: absolute;
}
.position {
  left: .4rem;
  top: 0rem;
  font-size: .5rem;
  height: 100%;
}
.position i {
  position: absolute;
  margin-top: .5rem;
}
.position span {
  display: inline-block;
  margin: .58rem .7rem;
}
.iconfont-position {
  color: #13B7F5;
}
.price {
  right: .5rem;
  top: .2rem;
  font-size: .9rem;
  color: #F57E7A;
}
@font-face {
  font-family: 'iconfont-treeHoleTabsBar';
  src: url('iconfont.eot');
  /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iconfont-treeHoleTabsBar.woff') format('woff'), /* chrome、firefox */ url('../fonts/iconfont-treeHoleTabsBar.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../fonts/iconfont-treeHoleTabsBar.svg#iconfont-treeHoleTabsBar') format('svg');
  /* iOS 4.1- */
}
.iconfont-treeHoleTabsBar {
  font-family: "iconfont-treeHoleTabsBar" !important;
  font-size: 1.2rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'iconfont-indexTabBar';
  src: url('iconfont.eot');
  /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iconfont-indexTabBar.woff') format('woff'), /* chrome、firefox */ url('../fonts/iconfont-indexTabBar.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../fonts/iconfont-indexTabBar.svg#iconfont-indexTabBar') format('svg');
  /* iOS 4.1- */
}
.iconfont-indexTabBar {
  font-family: "iconfont-indexTabBar" !important;
  font-size: 1.3rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'iconfont-position';
  src: url('iconfont.eot');
  /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iconfont-position.woff') format('woff'), /* chrome、firefox */ url('../fonts/iconfont-position.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../fonts/iconfont-position.svg#iconfont-position') format('svg');
  /* iOS 4.1- */
}
.iconfont-position {
  font-family: "iconfont-position" !important;
  font-size: .75rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'iconfont-selfShare';
  src: url('iconfont.eot');
  /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iconfont-selfShare.woff') format('woff'), /* chrome、firefox */ url('../fonts/iconfont-selfShare.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../fonts/iconfont-selfShare.svg#iconfont-selfShare') format('svg');
  /* iOS 4.1- */
}
.iconfont-selfShare {
  font-family: "iconfont-selfShare" !important;
  font-size: 1rem;
  font-style: normal;
  margin-right: 0.3rem;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
