.bar .button-link {
  color: #fff;
}
.user-info h3 {
  color: #444;
  font-weight: normal;
}
.page,
.page-group {
  background-color: #fafafa;
}
.border-bottom {
  border-top: 0px;
  background-color: #fafafa;
  border-left: 0px;
  border-right: 0px;
  width: 100%;
  font-size: .7rem;
  padding: .2rem;
  margin-bottom: .3rem;
}
.successToast {
  background-color: #F77A7A;
  color: #fff;
}
.content {
  background-color: #fafafa;
  padding: 0 .5rem;
}
