.underline {
  text-decoration: underline;
}
.actionRow {
  display: flex;
  justify-content: center;
}
.actionRow div {
  font-size: .7rem;
}
.actionRow div .qq-login {
  margin-left: .5rem;
  display: inline-block;
}
.actionRow div .qq-login:hover {
  cursor: pointer;
}
.actionRow div.submit {
  margin: 1rem 1rem 0 1rem;
  height: 2rem;
  width: 5rem;
  text-align: center;
  line-height: 2rem;
}
