.treehole-content .buttons-tab .button.active {
  color: #F57E7A;
  border-color: #F57E7A;
}
.treehole-content > .content-block {
  margin: 0px;
  padding: 0px;
}
.treehole-content > .content-block .tabs .content-block {
  margin: .5rem 0px;
  padding: 0px;
}
.treehole-searchbar {
  background-color: #fff;
}
.treehole-searchbar .searchbar {
  background-color: #fff;
}
.treehole-searchbar .searchbar input#search {
  background-color: #f5f5f5;
  border-radius: .5rem;
}
.facebook-card {
  margin: 0px;
}
.facebook-card .facebook-avatar img {
  height: 2rem;
}
.facebook-card .card-info {
  margin-left: 2.5rem;
}
.facebook-card .card-info .facebook-name,
.facebook-card .card-info .facebook-date {
  margin-left: 0px;
}
.facebook-card .card-content-title,
.facebook-card .card-content-text {
  margin: .3rem 0px;
}
