.page .page-group {
  background-color: #fff;
}
.message {
  text-align: center;
  height: 3rem;
  line-height: 3rem;
  border-radius: 1rem;
  width: 100%;
  font-size: .8rem;
  background-color: transparent;
  margin-bottom: 1rem;
}
.message.success {
  border: 1px solid rgba(240, 168, 24, 0.8);
  color: #f0a818;
}
.message.fail {
  border: 1px solid red;
  color: red;
}
.actionRow {
  display: flex;
  justify-content: center;
}
.actionRow div {
  font-size: .7rem;
  width: 4rem;
}
