@content-back-color: #fafafa;
@title-color: #444;

.bar .button-link{
  color: #fff;
}

.user-info h3{
  color: @title-color;
  font-weight: normal;
}


.page, .page-group{
  background-color: @content-back-color
}

.backEdit{
   visibility: hidden;
}
.submit{
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}

.done{
  margin: 0 auto;
}

.border-bottom{
  border-top: 0px;
  background-color: #fafafa;
  border-left: 0px;
  border-right: 0px;
  width: 100%;
  font-size: .7rem;
  padding: .2rem;
  margin-bottom: .3rem;
  border-bottom: 1px solid #dedede;
}


.successToast{
  background-color: #F77A7A;
  color: #fff;
}

.content{
  background-color: @content-back-color;
  padding: 0 .5rem;
}

.schoolSearchBar{
  top: 0rem;
}

.schoolSearchBar{
  background-color: #fff;
  .searchbar{
    background-color: #fff;
    input#search, input#search-action{
      background-color: #f5f5f5;
      border-radius: .5rem;
    }
  }
}

.welcome-hint{
    font-size: .6rem;
    text-align: center;
    background-color: #D8F0FA;
    color: #1CAADD;
    padding: .2rem;
}

#schoolListContainer{
  padding: 0px;
  ul{
    list-style: none;
    padding-left: .5rem;
    li{
      line-height: 2rem;
      border-bottom: 1px solid #dedede;
    }
  }
}

.school a{
  text-decoration: none;
  color: inherit;
  border-color: #dedede;

}
