@tab-color: #F57E7A;

.treehole-content .buttons-tab .button.active{
    color: @tab-color;
    border-color: @tab-color;
}

.treehole-content > .content-block{
  margin: 0px;
  padding: 0px;
  .tabs .content-block{
    margin: .5rem 0px;
    padding: 0px;
  }
}

.treehole-searchbar{
  background-color: #fff;
  .searchbar{
    background-color: #fff;
    input#search{
      background-color: #f5f5f5;
      border-radius: .5rem;
    }
  }
}


.facebook-card{

  margin: 0px;
  .facebook-avatar img{
    height: 2rem;
  }
  .card-info{
    margin-left: 2.5rem;
    .facebook-name, .facebook-date{
      margin-left: 0px;
    }
  }
  .card-content-title, .card-content-text{
    margin: .3rem 0px;
  }

}
