@content-back-color: #fafafa;


.name input{
  border-top: none;
  border-right: none;
  border-left: none;
  font-size: .8rem;
  padding-bottom: .2rem;
}


.bar .button-link{
  color: #fff;
}

.successToast{
  background-color: #F77A7A;
  color: #fff;
}
.content{
  background-color: @content-back-color;
  .post-treehole{
    padding: .8rem .8rem;
    .content-title{
        margin: 0px 0px .5rem;
        font-weight: normal;
        color: #333;
    }
    .treehole-content{
      background-color: #fff;
      padding: .5rem .4rem 0 .4rem;
      textarea{
        -webkit-appearance: none;
        border: none;
        resize: none;
        width: 100%;
        max-height: 8rem;
      }
      #previewAllPic{
        &:after{
          display: block;
          clear: both;
          content: "";
          visibility: hidden;
        }
        div{
          position: relative;
          i{
            position: absolute;
            top: -.6rem;
            right: -.6rem;
          }
          display: inline-block;
          display: flex;
          justify-content: center;
          float: left;
          margin-right: .5rem;
          padding: .2rem;
          border: 1px solid #dedede;
          canvas{
            width:5rem;
            max-height: 5rem;
            margin: .3rem;
          }
        }

        img{
          max-width: 2rem;
          z-index: 10000;
          margin-left: .4rem;
        }
      }

      span{
        // position: relative;
        // height: 4rem;
        // width: 4rem;
        #fileToUpload{
          // z-index: 10000;
          // width: 4rem;
          // top: 1rem;
          // height: 4rem;
          // position: absolute;
          visibility: hidden;
          overflow: hidden;
          display: none;
        }
      }
    }
    .if-anonymous{
      float: right;
      margin-top: 1rem;
      input#anonymous{
        display: none;
      }
      input#anonymous + label{
        display: inline-block;
        height: 1.2rem;
        width: 1.2rem;
        border-radius: 50%;
        border: 1px solid #dedede;
        position: relative;
      }
      input#anonymous:checked + label{
        border: none;
        background-color: #F77A7A;
      }
      input#anonymous:checked + label:after{
        content: '\2714';
        font-size: 1rem;
        position: absolute;
        color: #fff;
        top: -3px;
        left: 2px;
      }
      span{
        position: relative;
        top: -.3rem;
        margin-left: .4rem;
        color: #666;
      }
    }
  }
}

// 添加图片的图标

@font-face {font-family: 'iconfont-treeholePost';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/iconfont-treeholePost.woff') format('woff'), /* chrome、firefox */
    url('../fonts/iconfont-treeholePost.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../fonts/iconfont-treeholePost.svg#iconfont-treeholePost') format('svg'); /* iOS 4.1- */
}

.iconfont-treeholePost{
    font-family:"iconfont-treeholePost" !important;
    font-size:4rem;font-style:normal;
    color: #dedede;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

//   删除照片按钮
@font-face {font-family: 'iconfont-postDelete';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/iconfont-postDelete.woff') format('woff'), /* chrome、firefox */
    url('../fonts/iconfont-postDelete.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../fonts/iconfont-postDelete.svg#iconfont-postDelete') format('svg'); /* iOS 4.1- */
}

.iconfont-postDelete{
    font-family:"iconfont-postDelete" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
